<template>
    <v-layout>
        <v-dialog v-model="dialog" persistent max-width="500" class="warning">
            <template v-slot:activator="{ on }">
              <v-btn color="success" dark v-on="on" >Купить</v-btn>
            </template>
            <v-card>
                <v-card-title class="headline">Желаете купить этот товар?</v-card-title>
                <v-card-text>
                    <v-form
                            ref="form"
                    >
                        <v-text-field
                                label="Ваше ФИО"
                                name="lastName"
                                type="text"
                                v-model=lastName
                        />
                        <v-text-field
                                label="Номер телефона"
                                name="phone"
                                type="text"
                                v-model="phone"
                                v-mask="'+## (###) ### - ####'"
                        />
                    </v-form>
                        <v-switch row
                                  mt-5 v-model="quick"
                                  inset label="Быстрая доставка">
                        </v-switch>
                    <v-alert
                            transition="scale-transition"
                            v-model="alert"
                            type="warning"
                            dismissible
                    >
                       Сперва нужно пройти регистрацию
                    </v-alert>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn
                            class="white--text"
                            color="blue-grey lighten-1"
                            flat
                            @click="dialog = false"
                            :disabled="localLoading"
                    >
                        Отменить
                    </v-btn>
                    <v-btn class="white--text"
                           color="green"
                           flat
                           :loading="localLoading"
                           :disabled="localLoading"
                           @click="onSave()"
                    >Купить это!
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</template>

<script>
    import * as fb from "firebase";

    export default {
        props: ['ad'],
        data() {
            return {
                lastName: '',
                phone: '',
                quick: false,
                done: false,
                imgSrc: '',
                image: null,
                dialog: false,
                localLoading: false,
                alert:false,
                count: 1,
                price: 0,
                title:'',

            }
        },
        created() {
            this.lastName = this.user.firstName
        },
        computed: {
            user(){
                return this.$store.getters.user
            }
        },
        methods: {
            setUser(value){
                this.lastName = value
            },
            onSave() {
                if (this.lastName !== '' && this.phone !== '') {

                    var user = fb.auth().currentUser;
                    if(user !== null){
                        this.localLoading = true;
                        this.$store.dispatch('createOrder', {
                            title: this.ad.title,
                            phone: this.phone,
                            adId: this.ad.id,
                            done: this.done,
                            userId: user.uid,
                            price: this.ad.price,
                            picture:  this.ad.imgSrc ,
                            rating: this.ad.rating,
                            count: this.count,
                        })
                            .finally(() => {
                                this.localLoading = false;
                                this.dialog = false;
                            }).catch(error => (error))
                    }else{
                        this.alert = true;
                    }

                }
            }
        }
    }

</script>