<template>
    <v-card
            class="mt-4 mx-auto"
            max-width="800"
    >
        <h2 class=" font-weight-light pl-5 pa-2 pb-10"> {{ new Date().getFullYear() }} Год</h2>
        <v-sheet
                class="v-sheet--offset mx-auto"
                color="cyan"
                elevation="12"
                max-width="calc(100% - 32px)"
                :fill=fill
        >

            <v-sparkline
                    :labels="getLabels"
                    :value="getValues"
                    color="white"
                    line-width="2"
                    radius="7"
                    padding="16"
            ></v-sparkline>
        </v-sheet>

        <v-card-text class="pt-0">
            <v-divider class="my-2"></v-divider>
            <v-icon
                    class="mr-2"
                    small
            >
                mdi-clock
            </v-icon>
            <span>Последний вход {{LastLogin}}</span>
        </v-card-text>
    </v-card>
</template>

<script>
    import * as fb from "firebase";

    export default {



        data: () => ({
            fill: true,
            labels: [],
            value: [],
            LastLogin: fb.auth().currentUser.metadata.lastSignInTime,
        }),

        computed: {
            getLabels() {
                var monthNames = [
                    'Январь',
                    'Февраль',
                    'Март',
                    'Апрель',
                    'Май',
                    'Июнь',
                    'Июль',
                    'Август',
                    'Сентябрь',
                    'Ноябрь',
                    'Декабрь',
                ];
                var today = new Date();
                var d;
                var month;
                var labels = [];

                for (var i = 6; i > 0; i -= 1) {
                    d = new Date(today.getFullYear(), today.getMonth() - i, 1);
                    month = monthNames[d.getMonth()];
                    if (typeof month !== "undefined") {
                        labels.push(month)
                    }
                }

                month = monthNames[d.getMonth() + 1];
                labels.push(month)
                return labels;
            },
            getValues() {
                function getRandomInt() {
                    return Math.floor(Math.random() * Math.floor(800));
                }

                return [
                    getRandomInt(),
                    getRandomInt(),
                    getRandomInt(),
                    getRandomInt(),
                    getRandomInt(),
                ]
            },


        },

    }


</script>

<style>
    .v-sheet--offset {
        top: -24px;
        position: relative;
    }
</style>