<template>

    <v-timeline :dense="$vuetify.breakpoint.smAndDown">
        <v-sheet
                class="v-sheet--offset mx-auto mb-0"
                color="cyan"
                elevation="8"
                max-width="calc(100% - 32px)"
        >
            <br>
            <h1 style="text-align: center" class="white--text" >Условия использования сайта</h1>
            <br>
        </v-sheet>
        <v-timeline-item
                color="purple lighten-2"
                fill-dot
                right
        >
            <v-card>
                <v-card-title class="purple lighten-2">
                    <v-icon
                            dark
                            size="42"
                    >
                        mdi-account-multiple-outline
                    </v-icon>
                    <h4 class=" white--text font-weight-light">Пользователю</h4>
                </v-card-title>
                <v-container>
                    <v-row>
                        <v-col cols="12" md="10">
                            <p>Сайт разрешает вам просматривать и загружать материалы этого сайта (далее «Сайт»)
                                только для личного некоммерческого использования, при условии сохранения вами всей
                                информации об авторском праве и других сведений о праве собственности, содержащихся
                                в исходных материалах и любых их копиях. Запрещается изменять материалы этого Сайта,
                                а также распространять или демонстрировать их в любом виде или использовать их любым
                                другим образом для общественных или коммерческих целей. Любое использование этих
                                материалов на других сайтах или в компьютерных сетях запрещается.</p>
                        </v-col>

                    </v-row>
                </v-container>
            </v-card>
        </v-timeline-item>

        <v-timeline-item
                color="amber lighten-1"
                fill-dot
                left
                small
        >
            <v-card>
                <v-card-title class="amber lighten-1 justify-end ">

                    <h4 class=" white--text font-weight-light  mr-3" >Oтказ от ответственности</h4>
                    <v-icon
                            dark
                            size="42"
                    >
                        mdi-alert-circle-outline

                    </v-icon>
                </v-card-title>
                <v-container>
                    <p>Материалы и услуги этого сайта предоставляются «как есть» без каких-либо гарантий.
                        Розетка не гарантирует точности и полноты материалов, программ и услуг,
                        предоставляемых на этом Сайте. Розетка в любое время без уведомления может вносить
                        изменения в материалы и услуги, предоставляемые на этом Сайте, а также в упомянутые
                        в них продукты и цены. В случае устаревания материалов и услуг на этом Сайте Розетка
                        не обязуется обновлять их. Розетка ни при каких обстоятельствах не несет
                        ответственности за любой ущерб (включая, но не ограничиваясь ущербом от потери
                        прибыли, данных или от прерывания деловой активности), возникший вследствие
                        использования, невозможности использования или результатов использования этого
                        сайта.</p>
                </v-container>
            </v-card>
        </v-timeline-item>

        <v-timeline-item
                color="cyan lighten-1"
                fill-dot
                right
        >
            <v-card>
                <v-card-title class="cyan lighten-1">
                    <v-icon
                            class="mr-4"
                            dark
                            size="42"
                    >
                        mdi-phone-in-talk
                    </v-icon>
                    <h4 class=" white--text font-weight-light">Обратная связь и комментарии</h4>
                </v-card-title>
                <v-container>

                    <p>Обращаясь к нам или оставляя комментарии на сайте, вы несете ответственность, что
                        данное сообщение не является незаконным, вредоносным, угрожающим, клеветническим,
                        оскорбляет нравственность, нарушает авторские права, пропагандирует ненависть и/или
                        дискриминацию людей по расовому, этническому, половому, религиозному, социальному
                        признакам, содержит оскорбления в адрес конкретных лиц или организаций, а также
                        каким либо иным образом нарушает действующее законодательство Украины. Вы
                        соглашаетесь, что любое ваше сообщение Розетка может удалять без вашего на то
                        согласия, а также безвозмездно использовать по своему усмотрению. Розетка не несет
                        ответственности за любую информацию размещенную пользователями Сайта.</p>


                </v-container>
            </v-card>
        </v-timeline-item>

        <v-timeline-item
                color="red lighten-1"
                fill-dot
                left
                small
        >
            <v-card>
                <v-card-title class="red lighten-1 justify-end">
                    <h3 class=" mr-4 white--text font-weight-light">Персональные данные</h3>
                    <v-icon
                            dark
                            size="42"
                    >
                        mdi-server-network
                    </v-icon>
                </v-card-title>
                <v-container>
                    <p>Мы используем различные технологии для сбора и хранения информации, когда вы
                        посещаете сайт подробнее о защите и обработке персональных данных . Это может
                        включать в себя запись одного или нескольких куки или анонимных идентификаторов. Мы
                        также используем куки и анонимные идентификаторы, когда вы взаимодействуете с
                        услугами, предложенными нашими партнерами, такими как рекламные услуги, например,
                        которые могут появиться на других сайтах.<br></p>
                </v-container>
            </v-card>
        </v-timeline-item>

    </v-timeline>

</template>

<script>
    export default {
        data: () => ({
        }),
    }
</script>
