<template>

    <div style="height: 350px;">
        <div class="info"  >

        </div>
        <l-map
                style="height: 100%; width: 100%"
                :zoom="zoom"
                :center="[this.coord.Latitude,this.coord.Longitude]"
                @update:zoom="zoomUpdated"
                @update:center="centerUpdated"
                @update:bounds="boundsUpdated"
        >
            <l-tile-layer :url="url"></l-tile-layer>
            <l-marker :lat-lng="[this.coord.Latitude,this.coord.Longitude]" ></l-marker>
        </l-map>
    </div>

</template>

<script>
    import { LMap, LTileLayer, LMarker } from 'vue2-leaflet';
    import 'leaflet/dist/leaflet.css';
    import { Icon } from 'leaflet';

    delete Icon.Default.prototype._getIconUrl;
    Icon.Default.mergeOptions({
        iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
        iconUrl: require('leaflet/dist/images/marker-icon.png'),
        shadowUrl: require('leaflet/dist/images/marker-shadow.png'),
    });


    export default {
        props:['coordinates'],
        components: {
            LMap,
            LTileLayer,
            LMarker,
        },
        watch: {
            coordinates(newVal) {
                this.coord = newVal
            },
        },
        data () {
            return {
                url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                zoom: 12,
                center: null,
                bounds: null,
                markerLatLng: null,
                coord : null,
            };
        },
        mounted() {
            delete Icon.Default.prototype._getIconUrl;
            Icon.Default.mergeOptions({
                iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
                iconUrl: require('leaflet/dist/images/marker-icon.png'),
                shadowUrl: require('leaflet/dist/images/marker-shadow.png'),
            });
        },

        methods: {
            zoomUpdated (zoom) {
                this.zoom = zoom;
            },
            centerUpdated (center) {
                this.center = center;
            },
            boundsUpdated (bounds) {
                this.bounds = bounds;
            }
        }
    }
</script>

<style>

</style>
