<template>
    <v-container>
        <v-layout row>

                <v-card class="card-link">
                    <v-img
                            :src="ad.imgSrc"
                            aspect-ratio="2.75"
                            height="400px"
                    ></v-img>
                    <v-card-title primary-title>
                        <div>
                            <h3 class="headline mb-0">{{ad.title}}</h3>
                            <div> {{ ad.description }}</div>
                        </div>
                    </v-card-title>
                    <v-card-actions>
                        <v-spacer/>
                        <v-btn @click="backButton()" class="white--text mr-1" color="blue-grey lighten-1">Назад
                        </v-btn>
                        <div style="margin-right: 5px;">
                            <addEditModal v-if="user" :ad="ad"></addEditModal>

                        </div>
                        <div>
                            <add-buy-modal :ad="ad"></add-buy-modal>
                        </div>
                    </v-card-actions>
                </v-card>

        </v-layout>
    </v-container>

</template>


<script>
    import addEditModal from "./EditModal";

    export default {
        props: ['id'],
        computed: {
            ad() {
                const id = this.id;
                return this.$store.getters.adsByID(id)

            },
            user() {
                return this.$store.getters.user
            }
        },
        methods: {
            backButton(){
                this.$router.go(-1)
            },
            setTitle() {
                let ads = this.$store.getters.adsByID(this.id)
                return ads.title
            }
        },
        components: {
            'addEditModal': addEditModal
        },
        created() {
            document.title = this.setTitle()
        },
    }
</script>

<style scoped>
    .card-link {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        width: 80vh;
    }
</style>