<template>
    <v-container>
        <v-navigation-drawer
                v-model="drawer"
                absolute
                temporary
                class="hidden-lg-and-up"
        >

                    <v-expansion-panels
                            accordion
                            class="condensed"
                            flat

                    >
                        <v-expansion-panel
                                v-for="(ad, index) in adsGroupByCategory"
                                :key="index"
                        >
                            <v-expansion-panel-header
                            >
                                <template v-slot:default="{ open }">
                                    <v-row no-gutters>
                                        {{index}}
                                    </v-row>
                                </template>
                            </v-expansion-panel-header>
                            <v-expansion-panel-content>
                                <v-list
                                        dense
                                        subheader
                                >
                                    <v-list-item-group color="primary">
                                        <v-list-item
                                                v-for="(item, i) in adsGroupByCategory[index]"
                                                :key="i"
                                                @change="selected(item)"
                                        >
                                            <v-list-item-avatar>
                                                <v-img :src="item.imgSrc"></v-img>
                                            </v-list-item-avatar>
                                            <v-list-item-title v-html="item.title"></v-list-item-title>
                                        </v-list-item>
                                    </v-list-item-group>
                                </v-list>
                            </v-expansion-panel-content>
                            <v-divider ></v-divider>
                        </v-expansion-panel>
                        <v-divider ></v-divider>
                    </v-expansion-panels>
        </v-navigation-drawer>
        <v-layout row wrap >
            <v-flex sm8 offset-sm2 xs12>
                <v-row class="ml-2 mr-2 mb-2">

                    <h1 class="card-title font-weight-light mr">Список товара</h1>
                    <v-spacer></v-spacer>
                    <v-btn-toggle
                            rounded
                    >
                        <v-btn @click="toggle_exclusive=true">
                            <v-icon>mdi-format-align-left</v-icon>
                        </v-btn>

                        <v-btn @click="toggle_exclusive=false">
                            <v-icon>mdi-format-align-justify</v-icon>
                        </v-btn>
                    </v-btn-toggle>
                </v-row>
            </v-flex>
            <v-btn  v-if="!toggle_exclusive"
                    outlined color="indigo"
                    class="ma-2 hidden-lg-and-up"
                    @click.stop="drawer = !drawer"
            >Каталог</v-btn>
        </v-layout>
            <v-flex sm8 offset-sm2 xs12>
                <v-divider v-if="!toggle_exclusive"></v-divider>

                <div v-if="toggle_exclusive" class="scroll " style="height: 800px">
                    <v-card class="mt-6 elevation-10"
                            v-for=" ad in ads"
                            :key="ad.id"
                    >
                        <v-layout xs12>
                            <v-flex xs3>
                                <v-img :src="ad.imgSrc" height="160px">
                                </v-img>
                            </v-flex>
                            <v-flex>
                                <v-card-text>
                                    <h2>{{ad.title}}</h2>
                                    <p>{{ad.description}}</p>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn class="info "
                                           :to="/ad/ + ad.id">Открыть
                                    </v-btn>
                                </v-card-actions>
                            </v-flex>
                        </v-layout>
                    </v-card>
                </div>

            </v-flex>
            <v-flex v-if="!toggle_exclusive" sm8 offset-sm2 xs12>
                    <v-layout align-start>
                        <v-divider vertical class=" hidden-md-and-down" ></v-divider>
                        <v-flex class="hidden-md-and-down" xs3>
                        <v-expansion-panels
                                accordion
                                class="condensed"
                                flat
                        >
                            <v-expansion-panel
                                    v-for="(ad, index) in adsGroupByCategory"
                                    :key="index"
                            >
                                <v-expansion-panel-header
                                >
                                    <template v-slot:default="{ open }">
                                        <v-row no-gutters>
                                            {{index}}
                                        </v-row>
                                    </template>
                                </v-expansion-panel-header>
                                <v-expansion-panel-content>
                                    <v-list
                                            dense
                                            subheader
                                    >
                                        <v-list-item-group color="primary">
                                            <v-list-item
                                                    v-for="(item, i) in adsGroupByCategory[index]"
                                                    :key="i"
                                                   @change="selected(item)"
                                            >
                                                <v-list-item-avatar>
                                                    <v-img :src="item.imgSrc"></v-img>
                                                </v-list-item-avatar>
                                                <v-list-item-title v-html="item.title"></v-list-item-title>
                                            </v-list-item>
                                        </v-list-item-group>
                                    </v-list>
                                </v-expansion-panel-content>
                                <v-divider ></v-divider>
                            </v-expansion-panel>
                            <v-divider ></v-divider>
                        </v-expansion-panels>
                        </v-flex>
                        <v-divider vertical class="hidden-md-and-down" ></v-divider>
                        <v-layout>

                                <v-scroll-y-transition mode="out-in">

                                <v-flex
                                        class="mt-6"
                                        max-width="400"
                                        style="text-align: center"

                                >
                                    <v-layout row justify-center >
                                        <v-flex shrink>
                                                <v-img :src="selectedItem.imgSrc" max-height="auto" max-width="300px">
                                                </v-img>
                                        </v-flex>

                                    </v-layout>

                                            <v-flex>
                                                <v-card-text>
                                                    <h2>{{selectedItem.title}}</h2>
                                                    <p>{{selectedItem.description}}</p>
                                                </v-card-text>
                                                <v-card-actions>
                                                    <v-spacer></v-spacer>

                                                </v-card-actions>
                                            </v-flex>
                                </v-flex>

                                </v-scroll-y-transition>
                            <v-divider vertical></v-divider>
                        </v-layout>
                    </v-layout>
                <v-divider ></v-divider>

                </v-flex>

    </v-container>
</template>

<script>

    export default {
        data() {
            return {
                active: [],
                avatar: null,
                drawer: null,
                open: [],
                users: [],
                sheet: null,
                toggle_exclusive: false,
                selectedItem: null


            }
        },
        computed: {
            ads() {
                let ads = this.$store.getters.ads
                // eslint-disable-next-line
                this.selectedItem = ads[0]
                return ads
            },
            adsGroupByCategory() {
                let result = this.ads.reduce(function (r, a) {
                    r[a.category] = r[a.category] || [];
                    r[a.category].push(a);
                    return r;
                }, Object.create(null));
                return result

            }

        },
        methods: {
            selected(value) {
                this.selectedItem = value
            },
        },

    }


</script>

<style scoped>
    .scroll {
        overflow: scroll;
        overflow-x: hidden;

    }

    ::-webkit-scrollbar {
        width: 0px; /* Remove scrollbar space */
        background: transparent; /* Optional: just make scrollbar invisible */
    }

    /* Optional: show position indicator in red */
    ::-webkit-scrollbar-thumb {
        background: #FF0000;
    }

    .v-expansion-panel-header {
        padding: 8px 2px 8px 18px;
        min-height: auto;
    }



</style>