<template>
    <v-layout>
        <v-dialog v-model="dialog" persistent max-width="500" class="warning">
            <template v-slot:activator="{ on }">
                <v-spacer/>
                <v-btn color="warning" dark v-on="on">Редактировать</v-btn>
            </template>
            <v-card>
                <v-card-title class="headline">Приступим к редактированию</v-card-title>
                <v-card-text>
                    <v-form
                            ref="form"
                            v-model="valid"
                    >
                        <v-text-field
                                label="Ad title"
                                name="title"
                                type="text"
                                v-model="editedTitle"
                        />
                        <v-textarea
                                label="ad description"
                                name="description"
                                type="text"
                                v-model="editedDescription"
                                multi-line
                        />
                    </v-form>
                    <v-layout row mt-5>
                        <v-flex sx12>
                            <v-btn @click="triggerInput">
                                <v-icon class="mr-3" right dark>mdi-cloud-upload</v-icon>
                                Загрузить новое фото
                            </v-btn>
                            <input ref="fileInput"
                                   type="file"
                                   accept="image/*"
                                   style="display: none"
                                   @change="onFileChange"
                            >
                        </v-flex>
                    </v-layout>
                    <v-layout
                            row
                            mt-5
                    >
                        <img :src="this.imgSrc" v-if="this.imgSrc" height="100px">
                    </v-layout>
                    <v-layout row
                              mt-5
                    >
                        <div class="text-center">
                            <v-text-field v-model="price" label="Укажите цену"></v-text-field>
                        </div>
                        <v-spacer></v-spacer>
                        <div class="text-center">
                            <p>Укажите рейтинг</p>
                            <v-rating v-model="rating"></v-rating>
                        </div>
                        <v-flex>
                            <v-switch v-model="promo"
                                      inset label="Участвует в акции?">
                            </v-switch>
                            <v-switch v-model="mainPage"
                                      inset label="На главную?">
                            </v-switch>
                            <v-combobox
                                    label="Укажите категорию"
                                    :items="comboItems"
                                    v-model="category"
                            />
                        </v-flex>
                    </v-layout>
                </v-card-text>
                <v-card-actions>
                    <v-layout row justify-center>
                        <v-dialog
                                v-model="deldialog"
                                max-width="290"
                        >
                            <v-card>
                                <v-card-title class="headline">Вы действительно желаете удалить навесгда?</v-card-title>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn
                                            color="warning"
                                            @click="deleteAd"
                                    >
                                        Да
                                    </v-btn>
                                    <v-btn
                                            color="green darken-1"
                                            class="white--text "
                                            @click="deldialog = false"
                                    >
                                        Отмена
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                    </v-layout>
                    <v-spacer></v-spacer>
                    <v-btn class="white--text warning" color="blue-grey lighten-1" @click="deldialog = true"
                           :loading="loading"
                    > Удалить
                    </v-btn>
                    <v-btn class="white--text" color="blue-grey lighten-1" @click="dialog = false">Отменить</v-btn>
                    <v-btn class="white--text" color="green"
                           :loading="loading"
                           :disabled="!valid"
                           @click="updateAd()"
                    >Сохранить
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-layout>
</template>

<script>
    export default {
        props: ['ad'],
        data() {
            return {
                editedDescription: this.ad.description,
                editedTitle: this.ad.title,
                promo: this.ad.promo,
                valid: true,
                imgSrc: '',
                image: null,
                dialog: false,
                loading: false,
                deldialog: false,
                mainPage: this.ad.mainPage,
                price: this.ad.price,
                rating: this.ad.rating,
                comboItems: [
                    'Портрет',
                    'Пейзаж',
                    'Историческая живопись',
                    'Батальная живопись',
                    'Натюрморт',
                    'Жанровая живопись',
                    'Архитектурная живопись',
                    'Живопись на религиозные темы',
                ],
                category: this.ad.category,
            }
        },
        methods: {
            updateAd() {
                if (this.editedDescription !== '' || this.editedTitle !== '' || this.image !== null) {
                    const ad = {
                        title: this.editedTitle,
                        id: this.ad.id,
                        description: this.editedDescription,
                        promo: this.promo,
                        image: this.image,
                        mainPage: this.mainPage,
                        price: this.price,
                        rating: this.rating,
                        category: this.category,
                    };
                    this.$store.dispatch('updateAd', ad)
                        .then(() => {
                            this.dialog = false;
                            this.$router.push(this.ad.id)
                        }).catch(error => (error))
                }
            },
            deleteAd() {

                this.$store.dispatch('deleteAd', this.ad)
                    .then(() => {
                        this.deldialog = false;
                        this.$router.push('/')
                    }).catch(error => (error))
            },

            triggerInput() {
                this.$refs.fileInput.click()
            },
            onFileChange(event) {
                const file = event.target.files[0]
                const reader = new FileReader()

                // eslint-disable-next-line no-unused-vars
                reader.onload = e => {
                    this.imgSrc = reader.result
                };
                reader.readAsDataURL(file)
                this.image = file
            }

        }
    }

</script>