<template>
    <v-container>
        <v-layout>
            <v-flex xs12 sm5 offset-sm3>
                <h1 class="card-title font-weight-light  mb-3">Новое объявление</h1>
                <v-card-text>
                    <v-form
                            ref="form"
                            v-model="valid"
                            validation
                    >
                        <v-text-field
                                label="Ad title"
                                name="title"
                                type="text"
                                v-model="title"
                                :rules="[v => !!v || 'Title is required']"
                                required
                        />
                        <v-textarea
                                label="ad description"
                                name="description"
                                type="text"
                                v-model="description"
                                multi-line
                                :rules="[v => !!v || 'Description is required']"
                                required
                        />
                    </v-form>
                    <v-layout row mt-5>
                        <v-flex sx12>
                            <v-btn @click="triggerInput">
                                <v-icon class="mr-3" right dark>mdi-cloud-upload</v-icon>
                                Загрузить
                            </v-btn>
                            <input ref="fileInput"
                                   type="file"
                                   accept="image/*"
                                   style="display: none"
                                   @change="onFileChange"
                            >
                        </v-flex>
                        <div class="text-center">
                            <h4>Укажите рейтинг</h4>
                            <v-rating v-model="rating"></v-rating>
                        </div>
                    </v-layout>
                    <v-layout row mt-5>
                        <v-flex sx12>
                            <v-switch v-model="promo"
                                      inset label="Участвует в акции?">
                            </v-switch>
                            <v-switch v-model="mainPage"
                                      inset label="На главную?">
                            </v-switch>
                        </v-flex>
                        <div class="text-center">
                            <v-text-field :rules="priceRules" v-model="price" label="Укажите цену"></v-text-field>
                            <v-combobox
                                    label="Укажите категорию"
                                    :items="comboItems"
                                    v-model="category"
                            />
                        </div>
                    </v-layout>
                    <v-layout row
                              mt-5
                    >
                    </v-layout>
                    <v-layout
                            row
                            mt-5
                    >
                        <img :src="imageSrc" v-if="imageSrc" height="100px">
                    </v-layout>
                    <v-layout row
                              mt-5
                    >
                        <v-spacer>
                            <v-btn
                                    :loading="loading"
                                    :disabled="!valid  || !image || loading"
                                    class="success"
                                    @click="createAd()">
                                Добавить
                            </v-btn>
                        </v-spacer>
                    </v-layout>
                </v-card-text>
            </v-flex>
        </v-layout>
    </v-container>
</template>


<script>
    export default {
        data: () => ({
            title: '',
            description: '',
            promo: false,
            mainPage: false,
            price: 0,
            rating: 0,
            valid: true,
            imageSrc: "",
            image: null,
            priceRules: [
                v => !!v || 'Поле не заполнено',
                // v => /(\d{7}|\d{6},\d|\d{5},\d{2})/.test(v) || 'Цена введена неверно',
                v => /^[0-9]+$/.test(v) || ' не верный',
            ],
            comboItems:[
                'Портрет',
                'Пейзаж',
                'Историческая живопись',
                'Батальная живопись',
                'Натюрморт',
                'Жанровая живопись',
                'Архитектурная живопись',
                'Живопись на религиозные темы',
            ],
            category: null

        }),
        methods: {
            createAd() {
                if (this.$refs.form.validate() && this.image) {
                    const ad = {
                        title: this.title,
                        description: this.description,
                        promo: this.promo,
                        image: this.image,
                        mainPage: this.mainPage,
                        price: this.price,
                        rating: this.rating,
                        category: this.category,
                    };
                    this.$store.dispatch('createAd', ad)
                        .then(() => {
                            this.$router.push('/list')
                        }).catch(error => (error))

                }
            },
            triggerInput() {
                this.$refs.fileInput.click()
            },
            onFileChange(event) {
                const file = event.target.files[0]
                const reader = new FileReader()

                // eslint-disable-next-line no-unused-vars
                reader.onload = e => {
                    this.imageSrc = reader.result
                };
                reader.readAsDataURL(file)
                this.image = file

            }
        }
    }
</script>

<style scoped>

</style>