<template>
    <v-container>
        <v-layout>
            <v-flex xs12 class="text-xl-center pt-5" v-if="loading">
                <v-content>
                    <v-flex xs12 class="text-xl-center">
                        <v-progress-circular
                                :size="70"
                                :width="7"
                                color="primary"
                                indeterminate
                        ></v-progress-circular>
                    </v-flex>
                </v-content>
            </v-flex>
            <v-flex sm8 offset-sm2 xs12 v-else-if="!loading && orders.length !== 0" >

                <v-stepper
                        v-model="e1"
                        :vertical="vertical"
                        :alt-labels="altLabels"
                >
                    <!--                    v-if="$vuetify.breakpoint.smAndDown ? vertical=true : vertical=false"-->
                     <template>
                        <v-layout row justify-center>
                            <v-dialog
                                    v-model="deldialog"
                                    max-width="340" width=""
                            >
                                <v-card>
                                    <v-card-title class="headline"> <h6>Вы действительно желаете удалить?</h6>  </v-card-title>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn
                                                color="warning"
                                                @click="deleteItem()"
                                        >
                                            Да
                                        </v-btn>
                                        <v-btn
                                            color="green darken-1"
                                            class="white--text "
                                            @click="deldialog = false"
                                        >
                                            Отмена
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                        </v-layout>

                        <v-stepper-header>
                            <template v-for="n in steps">
                                <v-stepper-step
                                        :key="`${n}-step`"
                                        :complete="e1 > n"
                                        :step="n"
                                        :editable="editable"
                                >
                                    Шаг {{ n }}
                                    <small>{{stepHeader[n-1]}}</small>
                                </v-stepper-step>
                                <v-divider
                                        v-if="n !== steps"
                                        :key="n"
                                ></v-divider>
                            </template>
                        </v-stepper-header>
                        <v-stepper-items>
                            <v-stepper-content
                                    v-for="n in steps"
                                    :key="`${n}-content`"
                                    :step="n"


                            >
                                <v-card v-if="n===1"

                                >
                                    <v-data-table
                                            :headers="headers"
                                            :items="orders"
                                            sort-by="calories"
                                            class="elevation-1 "
                                            dense
                                            :page.sync="page"
                                            :items-per-page="itemsPerPage"
                                            hide-default-footer
                                            @page-count="pageCount = $event"
                                    >
                                        <template v-slot:item.picture="{ item }">
                                            <v-img @click="goToOrder(item.adId)" max-width="40" max-height="40"
                                                   :src="item.picture"></v-img>
                                        </template>
                                        <template v-slot:item.name="{ item }">
                                            <p class=" mt-4 font-weight-light" @click="goToOrder(item.adId)">
                                                {{item.title}}</p>
                                        </template>
                                        <template v-slot:item.rating="{ item }">
                                            <v-rating readonly danse background-color="grey darken-1" small
                                                      color="yellow darken-3" v-model="item.rating"></v-rating>
                                        </template>
                                        <template v-slot:item.price="{ item }">
                                            <p class="mt-4 font-weight-light">{{item.price}}</p>
                                        </template>
                                        <template v-slot:item.actions="{ item }">
                                            <v-btn x-small fab dark color="red lighten-1"
                                                     @click="dialogItem(item)"
                                            >
                                                <v-icon dark>mdi-delete</v-icon>
                                            </v-btn>
                                        </template>
                                        <template v-slot:item.count="{ item }">
                                            <v-layout>
                                                <v-icon
                                                        small
                                                        @click="decrementItem(item)"
                                                        class="pr-1"
                                                >
                                                    mdi-minus
                                                </v-icon>
                                                {{item.count}}
                                                <v-icon
                                                        small
                                                        @click="incrementItem(item)"
                                                        class="pl-1"
                                                >
                                                    mdi-plus
                                                </v-icon>
                                            </v-layout>
                                        </template>

                                        <template v-slot:no-data>
                                         </template>
                                    </v-data-table>
                                    <div class="text-center pt-2">
                                        <div style="text-align: right;" class="pr-4">
                                            <div class="mb-1 mt-1">
                                                <v-chip v-model="orderSumm" color="light-blue lighten-1" dark><span><b>Сумма: {{ orderSumm }} ₴</b></span>
                                                </v-chip>
                                            </div>
                                            <div class="mb-1 mt-1">
                                                <v-chip v-model="orderSale" color="orange lighten-2" dark><span><b>Скидка (5%): {{ orderSale }} ₴</b></span>
                                                </v-chip>
                                            </div>
                                            <div>
                                                <v-chip v-model="orderFull" color="green" dark><span><b>Итого: {{ orderFull  }} ₴</b></span>
                                                </v-chip>
                                            </div>
                                        </div>
                                        <v-pagination v-model="page" :length="pageCount"></v-pagination>
                                    </div>
                                </v-card>
                                <v-card v-if="n===3"
                                >
                                    <h1 class="card-title font-weight-light  mb-3">
                                        Реквизиты
                                    </h1>
                                    <v-card-template></v-card-template>
                                </v-card>

                                <div v-if="n===2"
                                        class="mb-12"
                                >
                                    <v-row  >
                                        <v-col
                                                cols="12"
                                                md="6"
                                        >

                                            <v-textarea
                                                    no-resize
                                                    height="120px"
                                                    outlined
                                                    label="Оставьте комментарий"
                                            ></v-textarea>
                                        </v-col>
                                        <v-col
                                                cols="12"
                                                md="6"
                                        >
                                                <v-card-text>
                                                    <v-autocomplete
                                                            :items="areas"
                                                            v-model="area"
                                                            label="Область"
                                                            item-text="name"
                                                            bottom
                                                            autocomplete
                                                            :menu-props="{ maxHeight : 200}"
                                                    >
                                                    </v-autocomplete>
                                                    <v-autocomplete
                                                            :items="getCity()"
                                                            v-model="city"
                                                            label="Город"
                                                            item-text="name"
                                                            bottom
                                                            autocomplete
                                                            :menu-props="{ maxHeight : 200}"
                                                            :filter="customFilter"
                                                            @change="findBranch()"
                                                    >
                                                    </v-autocomplete>
                                                </v-card-text>
                                        </v-col>
                                        <v-col
                                                cols="12"
                                                md="6"
                                        >
                                            <div>
                                                <v-card-text>
                                                    <v-autocomplete
                                                            :disabled = branchesDisabled
                                                            :items="branches"
                                                            v-model="branch"
                                                            label="Отделения"
                                                            item-text="DescriptionRu"
                                                            bottom
                                                            autocomplete
                                                            :menu-props="{ maxHeight : 200}"
                                                            @change="setCoordinates()"
                                                    >
                                                        <v-avatar left>
                                                            <v-img src="https://cdn.vuetifyjs.com/images/lists/2.jpg"></v-img>
                                                        </v-avatar>
                                                    </v-autocomplete>

                                                </v-card-text>

                                            </div>

                                        </v-col>
                                    </v-row>



                                </div>
                                <v-btn
                                        class="mt-6"
                                        color="primary"
                                        @click="nextStep(n)"
                                >
                                    Далее
                                </v-btn>

                            </v-stepper-content>
                        </v-stepper-items>


                         <div style="height: 350px;"  v-if="this.e1 === 2 && coordinates != null">
                             <div class="info"  >

                             </div>
                             <l-map
                                     style="height: 100%; width: 100%"
                                     :zoom="zoom"
                                     :center="[this.coordinates.Latitude,this.coordinates.Longitude]"
                                     @update:zoom="zoomUpdated"
                                     @update:center="centerUpdated"
                                     @update:bounds="boundsUpdated"
                             >
                                 <l-tile-layer :url="url"></l-tile-layer>
                                 <l-marker :lat-lng="[this.coordinates.Latitude,this.coordinates.Longitude]" ></l-marker>
                             </l-map>
                         </div>


                    </template>
                </v-stepper>
            </v-flex>
            <v-flex xs12 class="text-xl-center" v-else>
                <h1 class="text--secondary">У вас нет новых заказов!</h1>
            </v-flex>
        </v-layout>

    </v-container>

</template>
<script>
    import  axios  from "axios";
    import { LMap, LTileLayer, LMarker } from 'vue2-leaflet';
    import 'leaflet/dist/leaflet.css';
    import { Icon } from 'leaflet';

    delete Icon.Default.prototype._getIconUrl;
    Icon.Default.mergeOptions({
        iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
        iconUrl: require('leaflet/dist/images/marker-icon.png'),
        shadowUrl: require('leaflet/dist/images/marker-shadow.png'),
    });


    export default {
        components: {
            LMap,
            LTileLayer,
            LMarker,
        },
        data() {
            return {
                e1: 1,
                stepHeader: [
                    'Список товара',
                    'Оплата',
                    'Подтверждение',
                ],
                steps:3,
                vertical: false,
                altLabels: false,
                editable: true,
                deldialog: false,
                page: 1,
                pageCount: 0,
                itemsPerPage: 10,
                dialog: false,
                headers: [
                    {text: 'Изображение', value: 'picture'},
                    {
                        text: 'Наименование продукта',
                        align: 'start',
                        sortable: false,
                        value: 'name',
                    },
                    {text: 'Рейтинг', value: 'rating'},
                    {text: 'Цена (грн)', value: 'price'},
                    {text: 'Количество', value: 'count'},
                    {text: 'Удалить', value: 'actions', sortable: false},
                ],
                editedIndex: -1,
                editedItem: {
                    picture: '',
                    name: '',
                    rating: 0,
                    price: 0,
                    count: 0,
                    protein: 0,
                },
                defaultItem: {
                    picture: '',
                    name: '',
                    rating: 0,
                    price: 0,
                    count: 0,
                    protein: 0,
                },
                orderSumm: 0,
                orderSale: 0,
                orderFull: 0,
                delItem: null,
                step: 0,
                url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                zoom: 14,
                center: [48.8457625,31.6155788],
                markerLatLng: null,
                coord : null,
                bounds: null,
                areas: null,
                area: null,
                city: null,
                citys: null,
                branches:null,
                branchesDisabled:true,
                branch:null,
                coordinates:null

            }
        },
        methods: {
            zoomUpdated (zoom) {
                this.zoom = zoom;
            },
            centerUpdated (center) {
                this.center = center;
            },
            boundsUpdated (bounds) {
                this.bounds = bounds;
            },
            setCoordinates(){
                for(var i=0; i< this.branches.length; i++) {
                    if(this.branches[i].DescriptionRu === this.branch){
                        this.coordinates = {
                            Longitude: this.branches[i].Longitude,
                            Latitude: this.branches[i].Latitude
                        };
                    }
                }

            },
            findBranch(){
                this.branches = null;
                let  params = JSON.stringify({
                        modelName : 'AddressGeneral',
                        calledMethod : 'getWarehouses',
                        methodProperties : {
                            Language: "ru",
                            CityName: this.city
                        },
                      apiKey: process.env.VUE_APP_NEWPOSHTA_KEY
                })
                axios.post('https://api.novaposhta.ua/v2.0/json/', params)
                    .then(response => (
                        this.branches = response.data.data
                    ))
               this.branchesDisabled = false
            },
            customFilter (item, queryText) {
                    return (
                        item.name.toLocaleLowerCase().indexOf(queryText.toLocaleLowerCase()) >  -1
                    );
            },
            getCity(){
                let arrayOfCity
                for(var i=0; i< this.areas.length; i++) {
                    if(this.areas[i].name === this.area){
                        arrayOfCity = this.areas[i].areas
                    }
               }
                if(this.area === "Киев") {
                    arrayOfCity = "Киев"
                }
                this.citys = arrayOfCity
                return arrayOfCity

            },
            goToOrder(id) {
                this.$router.push('/ad/' + id)
            },
            markDone(order) {
                this.$store.dispatch('markOrderByDone', order.id)
                    .then(() => {
                        order.done = true
                    }).catch(() => {
                })
            },
            nextStep(n) {
                if (n === this.steps) {
                    this.e1 = 1
                } else {
                    this.e1 = n + 1
                }
            },
            calcSumm() {
                this.orders = this.$store.getters.orders
                let orderSumm = 0;
                let orderSale = 0;
                for (var index in this.orders) {
                    orderSumm += Number.parseInt(this.orders[index].price * this.orders[index].count);
                }
                this.orderSumm = orderSumm.toFixed(2) ;
                orderSale = (5 / 100) * orderSumm;
                this.orderSale = orderSale.toFixed(2)
                this.orderFull = this.orderSumm - this.orderSale
            },
            decrementItem(item) {
                const index = this.orders.indexOf(item)
                this.orders[index].count--
                if (this.orders[index].count < 1) {
                    this.orders[index].count = 1
                }
                this.calcSumm()
            },
            incrementItem(item) {
                const index = this.orders.indexOf(item)
                this.orders[index].count++
                this.calcSumm()

            },
            dialogItem(item){
                this.deldialog = true
                this.delItem = item
            },
            deleteItem() {
                const index = this.orders.indexOf(this.delItem)
                this.$store.dispatch('deleteOrder',this.orders[index])
                this.orders.splice(index, 1)
                this.calcSumm()
                this.delItem = null
                this.deldialog = false
            },
            close() {
                this.dialog = false
                this.$nextTick(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                })
            },
        },
        watch: {

            dialog(val) {
                val || this.close()
            },
        },
        mounted() {
            delete Icon.Default.prototype._getIconUrl;
            Icon.Default.mergeOptions({
                iconRetinaUrl: require('leaflet/dist/images/marker-icon-2x.png'),
                iconUrl: require('leaflet/dist/images/marker-icon.png'),
                shadowUrl: require('leaflet/dist/images/marker-shadow.png'),
            });

          axios({ method:'get', url:'json/areas.json' }).then(response => (
                    this.areas  =  response.data
                ))

        },
        computed: {
            orders() {
                return this.$store.getters.orders
            },
            loading() {
                return this.$store.getters.loading
            },


        },
        created() {
            this.$store.dispatch('fetchOrders')
            this.calcSumm()

        }
    }
</script>
<style scoped>

</style>
