<template>
    <v-container>
        <v-layout>
            <v-flex xs12 class="text-xl-center pt-5" v-if="loading">
                <v-content>
                    <v-flex xs12 class="text-xl-center">
                        <v-progress-circular
                                :size="70"
                                :width="7"
                                color="primary"
                                indeterminate
                        ></v-progress-circular>
                    </v-flex>
                </v-content>
            </v-flex>
            <v-flex xs12 sm5 offset-sm3 v-else-if="!loading ">

                <v-flex
                        xs12
                >
                    <v-text-field
                            id="dynamic"
                            label="Email Address"
                            class="purple-input"
                            :value="user.email"
                            @input="addEmail"
                    />
                </v-flex>


                <v-chip-group
                        column
                        multiple
                        :value="user.chipGroup"
                        @change="addchipGroup"
                >
                    <v-chip v-for="chip in chips"
                            :key="chip" color="green" filter outlined>
                        {{chip}}
                    </v-chip>

                <v-btn @click="alt()">Click</v-btn>
                    </v-chip-group>

            </v-flex>
            <v-flex xs12 class="text-xl-center" v-else>

                <h1 class="text--secondary">У вас нет новых заказов!</h1>

            </v-flex>
        </v-layout>
    </v-container>

</template>
<script>

    export default {
        data() {
            return {
                email: '',
                chipGroup: [],
                chips: [
                    "Рабочий", "Студент(ка)", "Школьник", "Безработный", "Бизнесмен", "Путшествинник", "Прочее"
                ],

            }
        } ,
        mounted () {

        },
        methods: {
            addEmail(event, val){
                alert('type :' +event)
                alert('type :' +val)
            },
            addchipGroup(value){
                this.chipGroup = value
            },

            alt(){
                // eslint-disable-next-line no-console
                console.log(this.chipGroup )
            }


        },
        computed: {
            user(){
                return {
                    chipGroup: [1,2]
                }
            },

            loading() {
                return this.$store.getters.loading
            }
        },
        created() {

        }
    }
</script>
