<template>
    <v-container
            fill-height
            fluid
            grid-list-xl>
        <v-layout
                justify-center
                wrap
        >
            <v-flex
                    xs12
                    md8
            >
                <h2 class="card-title font-weight-light pa-2">Ваш профиль</h2>
                <v-card>
                    <v-row height="100%">
                        <v-col cols="3" class="pa-0 hidden-md-and-down">
                            <v-navigation-drawer
                                    class="ml-3 hidden-md-and-down col-9"
                                    permanent
                                    height="100%"
                                    style="background: linear-gradient(to top right, rgba(55,236,186,.7)10%, rgba(25,32,72,.7)); "
                                    dark
                            >
                                <v-list
                                        dense
                                        nav
                                        class="py-0  "
                                        height="100%"
                                >
                                    <v-list-item two-line px-0>
                                        <v-list-item-avatar>
                                            <img :src="user.avatar">
                                        </v-list-item-avatar>
                                        <v-list-item-content>
                                            <v-list-item-title>{{user.firstName}}</v-list-item-title>
                                            <v-list-item-subtitle>{{user.lastName}}</v-list-item-subtitle>
                                        </v-list-item-content>
                                    </v-list-item>
                                    <v-divider></v-divider>
                                    <v-list-item
                                            v-for="item in items"
                                            :key="item.title"
                                            link
                                    >
                                        <v-list-item-icon>
                                            <v-icon>{{ item.icon }}</v-icon>
                                        </v-list-item-icon>
                                        <v-list-item-content @click="setCard(item.idCard)">
                                            <v-list-item-title>{{ item.title }}</v-list-item-title>
                                        </v-list-item-content>
                                    </v-list-item>
                                    <v-list-item>
                                        <v-switch
                                                v-model="$vuetify.theme.dark"
                                                hide-details
                                                inset
                                                label="Ночной режим"
                                        ></v-switch>
                                    </v-list-item>
                                </v-list>
                            </v-navigation-drawer>
                        </v-col>
                        <v-col cols="9" class="pt-0">
                            <v-switch
                                    v-model="$vuetify.theme.dark"
                                    hide-details
                                    inset
                                    label="Ночной режим"
                                    class="hidden-lg-and-up pt-0 ml-3 mb-2"
                            ></v-switch>
                            <v-tabs
                                    v-model="bottomNav"
                                    shift
                                    class="hidden-lg-and-up v-bottom-navigation"
                                    grow
                                    icons-and-text
                                    color="cyan"
                                    show-arrows
                            >
                                <v-tab @change="setCard(bottomNav)">
                                    <span>Профиль</span>
                                    <v-icon>mdi-account-circle</v-icon>
                                </v-tab>
                                <v-tab @change="setCard(bottomNav)">
                                    <span>Статистика</span>
                                    <v-icon>mdi-finance</v-icon>
                                </v-tab>
                                <v-tab @change="setCard(bottomNav)">
                                    <span>Условия сайта</span>
                                    <v-icon>mdi-help-box</v-icon>
                                </v-tab>
                            </v-tabs>
                            <v-flex class="v-card-profile" v-if="card1">
                                <div class="text-center">
                                    <v-avatar size="200">
                                        <img
                                               :src="user.avatar"
                                                alt="John"
                                        >
                                    </v-avatar>
                                    <v-card-text class="text-xs-center">
                                        <v-btn :href="user.FB" class="ma-2" tile large color="teal" icon target="_blank">
                                            <v-icon>mdi-facebook</v-icon>
                                        </v-btn>
                                            <v-btn :href="user.Instagram" class="ma-2" tile large color="teal" icon target="_blank">
                                            <v-icon>mdi-instagram</v-icon>
                                        </v-btn>
                                        <v-btn :href="user.Linkedin" class="ma-2" tile large color="teal" icon target="_blank">
                                            <v-icon>mdi-linkedin</v-icon>
                                        </v-btn>
                                        <h2 class="card-title font-weight-light">{{user.firstName+' '+user.lastName}}</h2>
                                        <br>
                                        <v-badge
                                                color="green"
                                                :content=user.age
                                        >
                                            Количество полных лет
                                        </v-badge>
                                        <p class="card-description font-weight-light mt-2"> {{user.about}}</p>
                                    </v-card-text>
                                <v-chip v-for="chip in user.chipGroup"
                                        class="ma-2"
                                        color="cyan"
                                        outlined
                                        :key="chip"
                                        filter
                                >
                                    <v-icon left>{{chips[chip].icon}}</v-icon>
                                    {{chips[chip].value}}
                                </v-chip>
                                </div>
                            </v-flex>
                            <v-flex class="v-card-profile" v-if="card2">
                                <dashboard></dashboard>
                            </v-flex>
                            <v-flex class="v-card-profile" v-if="card3">
                                <div class="scroll" style="max-height: 800px">
                                    <license></license>
                                </div>
                            </v-flex>
                        </v-col>
                    </v-row>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>
<script>

    import VCreditCard from 'v-credit-card';

    export default {
        data() {
            return {
                card1: true,
                card2: false,
                card3: false,
                card4: false,
                drawer: false,
                bottomNav: 0,
                items: [
                    {title: 'Профиль', icon: 'mdi-account-circle', idCard: 0},
                    {title: 'Статистика', icon: 'mdi-finance', idCard: 1},
                    {title: 'Условия сайта', icon: 'mdi-help-box', idCard: 2},
                ],
                color: 'primary',
                colors: [
                    'primary',
                    'blue',
                    'success',
                    'red',
                    'teal',
                ],
                right: true,
                miniVariant: false,
                expandOnHover: false,
                background: true,
                tab: null,
                text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
                icons: true,
                centered: false,
                grow: false,
                vertical: true,
                prevIcon: true,
                nextIcon: false,
                tabs: 3,
                chips: [
                    {
                        icon:'mdi-account-hard-hat',
                        value:"Рабочий",
                    },                    {
                        icon:'mdi-account-tie',
                        value:"Студент(ка)",
                    },                    {
                        icon:'mdi-account-tie',
                        value:"Школьник",
                    },                   {
                        icon:'mdi-account-alert-outline',
                        value:"Безработный",
                    },                   {
                        icon:'mdi-account-tie',
                        value:"Бизнесмен",
                    },                  {
                        icon:'mdi-airplane',
                        value:"Путшествинник",
                    },                 {
                        icon:'mdi-account-question-outline',
                        value:"Прочее",
                    },

                ],


            }
        },
        components: {
            // eslint-disable-next-line vue/no-unused-components
            VCreditCard
        },
        methods: {
            setCard(value) {
                if (value === 0) {
                    this.card1 = true
                    this.card2 = false
                    this.card3 = false
                } else if (value === 1) {
                    this.card1 = false
                    this.card2 = true
                    this.card3 = false
                } else if (value === 2) {
                    this.card1 = false
                    this.card2 = false
                    this.card3 = true
                }
            }
        },
        computed: {
            bg() {
                return this.background ? 'https://firebasestorage.googleapis.com/v0/b/itc-ads-dea4a.appspot.com/o/ads%2F-LzktQVBfCPl_maq9Gug..png?alt=media&token=d3f69592-4f2b-4e0e-8139-ac9279eb3037' : undefined
            },
            user() {
                return this.$store.getters.user
            },
        },
    }
</script>

<style scoped>

    #v-slide-group__prev  {
        display: none;
    }

    @media only screen and (max-width: 1264px) {
        .col-9 {
            flex: auto;
            max-width: 100%;
        }

    }
    .scroll {
        overflow: scroll;
        overflow-x: hidden;

    }
    ::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: #FF0000;
    }


</style>

