<template>
    <v-speed-dial
            v-model="fab"
            :top="top"
            :bottom="bottom"
            :right="right"
            :left="left"
            :direction="direction"
            :open-on-hover="hover"
            :transition="transition"
    >
        <template v-slot:activator>
            <div class="text-xs-center">
                <v-btn style="margin: 30px 0px 0px 10px;"
                       v-model="fab"
                       color="white"
                       dark
                       fab
                       width="45"
                       height="45"
                >
                    <v-avatar size="43">
                        <img
                                :src="user.avatar"
                                alt="John"
                        >
                    </v-avatar>
                </v-btn>

            </div>

        </template>
        <div>
            <v-btn rounded color="green" dark to="/UserProfile">
                <v-icon>mdi-account-multiple</v-icon>
                Мой профиль
            </v-btn>
            <v-btn rounded color="indigo" dark to="/UserProfileEdit">
                <v-icon>mdi-pencil</v-icon>
                Настройки
            </v-btn>
            <v-btn rounded color="red" dark @click="onLogout">
                <v-icon>mdi-exit-to-app</v-icon>
                Выйти
            </v-btn>
        </div>
    </v-speed-dial>
</template>

<script>
    export default {
        data() {
            return {
                direction: 'bottom',
                fab: false,
                fling: false,
                hover: false,
                tabs: null,
                top: false,
                right: true,
                bottom: true,
                left: false,
                transition: 'slide-y-reverse-transition',
            }
        },
        methods: {

            onLogout() {
                this.$store.dispatch('logOutUser')
                this.$router.push('/')
            }
            ,

        },
        computed:{
            user() {
                return this.$store.getters.user
            },
        }
    }
</script>


