<template>
    <v-container
            fill-height
            fluid
            grid-list-xl>
        <v-layout
                justify-center
                wrap
        >
            <v-flex
                    xs12
                    md5
                    style="margin-top: 8vh"
            >
                <v-card
                        title="Edit Profile"
                        text="Complete your profile"
                >
                    <v-form>
                        <v-flex class="text-center" style="transform: translate(0%, -39%);">
                            <v-row align="center" justify="center">
                                <v-img :src="user.avatar ? user.avatar : getAvatar"
                                       @input="addUserAvatar"
                                       aspect-ratio="1"
                                       class="grey lighten-2"
                                       max-width="160px"
                                       max-height="160px"
                                       style="border-radius: 50%;"
                                       @mouseover="activeUploadIcon = true"
                                       @mouseleave="activeUploadIcon = false"
                                       @click="triggerInput"
                                >

                                    <img :src="this.imgSrc" v-if="this.imgSrc"
                                         aspect-ratio="1"
                                         class="grey lighten-2"
                                         width="160px"
                                         height="160px"
                                         style="border-radius: 50%;"
                                         @mouseover="activeUploadIcon = true"
                                         @mouseleave="activeUploadIcon = false"
                                         @click="triggerInput"
                                    >

                                    <template v-slot:placeholder>
                                        <v-row
                                                class="fill-height ma-0"
                                                align="center"
                                                justify="center"
                                        >
                                            <v-progress-circular indeterminate
                                                                 color="grey lighten-5"></v-progress-circular>
                                        </v-row>
                                    </template>
                                    <template v-if="activeUploadIcon">
                                        <v-row
                                                class="fill-height ma-0"
                                                align="center"
                                                justify="center"
                                                style="background: #201717; opacity: 0.7"
                                        >
                                            <v-icon dark>mdi-cloud-upload</v-icon>
                                        </v-row>
                                    </template>
                                </v-img>
                            </v-row>
                        </v-flex>
                        <v-container py-0 style="margin-top: -8vh">
                            <v-layout wrap>

                                <v-flex
                                        xs12
                                        md6
                                >
                                    <v-text-field
                                            label="First Name"
                                            class="purple-input"
                                            :value="user.firstName"
                                            @input="addUserFirstName"/>
                                </v-flex>
                                <v-flex
                                        xs12
                                        md6
                                >
                                    <v-text-field
                                            label="Last Name"
                                            class="purple-input"
                                            :value="user.lastName"
                                            @input="addUserlastName"
                                    />
                                </v-flex>
                                <v-card-text>

                                    <v-chip-group
                                            column
                                            multiple
                                            :value="user.chipGroup"
                                            @change="addchipGroup"
                                    >
                                        <v-chip v-for="chip in chips"
                                                :key="chip" color="green" filter outlined>
                                            {{chip}}
                                        </v-chip>
                                    </v-chip-group>
                                </v-card-text>
                                <v-slider
                                        :value="user.age"
                                        @input="addAge"
                                        color="green"
                                        label="My age"
                                        :max="120"
                                        class="pa-4"
                                        ticks
                                        thumb-label="always"
                                ></v-slider>
                                <v-flex xs12>
                                    <v-textarea
                                            class="purple-input"
                                            label="About Me"
                                            :value="user.about"
                                            @input="addAbout"
                                    />
                                </v-flex>
                                <v-flex
                                        xs12
                                        md4>
                                    <v-text-field
                                            label="FB"
                                            class="purple-input"
                                            :value="user.FB"
                                            @input="addFB"
                                    />
                                </v-flex>
                                <v-flex
                                        xs12
                                        md4>
                                    <v-text-field
                                            label="Instagram"
                                            class="purple-input"
                                            :value="user.Instagram"
                                            @input="addInstagram"/>
                                </v-flex>
                                <v-flex
                                        xs12
                                        md4>
                                    <v-text-field
                                            class="purple-input"
                                            label="linkedin"
                                            :value="user.Linkedin"
                                            @input="addLinkedin"
                                    />
                                </v-flex>
                            </v-layout>
                            <v-flex
                                    xs12
                                    text-xs-right
                            >
                                <v-btn
                                        class="mx-0 font-weight-light"
                                        color="success"
                                        @click="updateUser()"
                                >
                                    <v-icon class="mr-3" right dark>mdi-cloud-upload</v-icon>
                                    Update Profile
                                </v-btn>
                                <input ref="fileInput"
                                       type="file"
                                       accept="image/*"
                                       style="display: none"
                                       @change="onFileChange"
                                >
                            </v-flex>
                        </v-container>
                    </v-form>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                image: null,
                avatar:'',
                imgSrc: '',
                about: '',
                chipGroup: null,
                age: 0,
                activeUploadIcon: false,
                chips: [
                    "Рабочий", "Студент(ка)", "Школьник", "Безработный", "Бизнесмен", "Путшествинник", "Прочее"
                ],
                userFirstName: '',
                userlastName: '',
                FB: '',
                Instagram: '',
                Linkedin: '',
            }
        },
        methods: {
            addUserFirstName(value) {
                this.userFirstName = value
            },
            addUserlastName(value) {
                this.userlastName = value
            },
            addAbout(value) {
                this.about = value
            },
            addFB(value) {
                this.FB = value
            },
            addInstagram(value) {
                this.Instagram = value
            },
            addLinkedin(value) {
                this.Linkedin = value
            },
            addAge(value) {
                this.age = value
            },
            addchipGroup(value) {
                this.chipGroup = value
            },
            addUserAvatar(value){
                this.avatar = value
            },
            updateUser() {
              const UserAttr = {
                        image: this.image,
                        About: this.about,
                        chipGroup: this.chipGroup,
                        age: this.age,
                        userFirstName: this.userFirstName,
                        userlastName: this.userlastName,
                        emailAddress: this.emailAddress,
                        FB: this.FB,
                        Instagram: this.Instagram,
                        Linkedin: this.Linkedin,
                    };
                    this.$store.dispatch('UpdateUserProflie', UserAttr)
                        .then(() => {
                            this.$router.push('/userProfileEdit')
                        }).catch(error => (error))

            },

            triggerInput() {
                this.$refs.fileInput.click()
            },
            onFileChange(event) {
                const file = event.target.files[0]
                const reader = new FileReader()

                // eslint-disable-next-line no-unused-vars
                reader.onload = e => {
                    this.imgSrc = reader.result
                };
                reader.readAsDataURL(file)
                this.image = file
            },
        },
        computed: {
            getAvatar() {
                return 'https://cdn.vuetifyjs.com/images/profiles/marcus.jpg';
            },

            user() {
                return this.$store.getters.user
            },

            loading() {
                return this.$store.getters.loading
            }

        }
    }
</script>
