<template>
    <div v-if="!loading">
        <v-container fluid>
            <v-flex xs12>
                <v-carousel>
                    <v-carousel-item
                            v-for="item in promoAds"
                            :key="item.id"
                            :src="item.imgSrc"
                    >
                        <div class="card-link">
                            <v-btn class="error" :to="'/ad/' + item.id">
                                {{item.title}}
                            </v-btn>
                        </div>
                    </v-carousel-item>
                </v-carousel>
            </v-flex>
        </v-container>
        <v-container fluid grid-list-lg>
            <v-layout row wrap>
                <v-flex
                        xs12
                        sm6
                        md4
                        lg3
                        v-for="ad in ads"
                        :key="ad.id"
                >
                    <v-card>
                        <v-img
                                :src="ad.imgSrc"
                                aspect-ratio="2.75"
                                height="200px"></v-img>
                        <v-layout mx-2 mt-4>
                            <div>
                                <v-rating
                                        :value=ad.rating
                                        color="amber"
                                        background-color="amber lighten-3"
                                        dense
                                        half-increments
                                        readonly
                                        size="25"
                                >
                                </v-rating>
                            </div>
                            <v-spacer></v-spacer>
                            <v-div>
                                <v-chip v-if="ad.promo"  color="yellow darkness-2">Акция</v-chip>
                            </v-div>
                        </v-layout>


                        <v-card-title primary-title>
                            <div style="height: 100px">
                                <h3 class="headline mb-0 mt-0">{{ad.title}}</h3>
                                <p class="pt-2 font-weight-light text_card_title"
                                >{{ ad.description }}</p>

                            </div>
                        </v-card-title>

                        <v-card-actions>
                            <v-chip class="white--text" color="indigo lighten-2" >{{ad.price}} грн</v-chip>
                            <v-spacer/>
                            <v-btn :to="'/ad/' + ad.id">Открыть</v-btn>
                            <v-btn>
                                <add-buy-modal :ad="ad"></add-buy-modal>
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
    <div v-else>
        <v-content>
            <v-flex xs12 class="text-xl-center">
                <v-progress-circular
                        :size="70"
                        :width="7"
                        color="primary"
                        indeterminate
                ></v-progress-circular>
            </v-flex>
        </v-content>
    </div>
</template>

<script>
    export default {
        computed: {
            promoAds() {
                return this.$store.getters.promoAds
            },
            ads() {
                return this.$store.getters.ads
            },
            loading() {
                return this.$store.getters.loading
            }
        }
    }
</script>

<style scoped>
    .card-link {
        position: absolute;
        left: 50%;
        bottom: 50px;
        background: rgba(0, 0, 0, .30);
        transform: translate(-50%, 0);
        padding: 5px 10px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
    .text_card_title{
       font-size: medium;
        line-height: 20px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
</style>
