<template>
    <v-app>
        <v-navigation-drawer
                app temporary
                v-model="drawe">
            <v-list-item
                    v-for="item in menuItem"
                    :key="item.icon"
                    :to="item.url">
                <v-list-item-icon>
                    <v-icon v-text="item.icon"></v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-badge
                            v-if="item.text === 'Заказы'  &&  Object.keys(orders).length !== 0"
                            color="red"
                            :content=Object.keys(orders).length
                            overlap
                            offset-x=110
                            offset-y=8
                    >
                        <v-list-item-title style="margin-right: 20px !important" color="white">Заказы
                        </v-list-item-title>
                    </v-badge>
                    <v-list-item-title v-else v-text="item.text"></v-list-item-title>
                </v-list-item-content>
            </v-list-item>
            <v-list-item
                    v-if="isUserLogging"
                    @click="onLogout"
            >
                <v-list-item-icon>
                    <v-icon v-text="'mdi-exit-to-app'"></v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                    <v-list-item-title>logout</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-navigation-drawer>
        <div>
            <v-app-bar app
                       absolute
                       color="#2c3e50"
                       dark
            >
                <template v-slot:img="{ props }">
                    <v-img v-bind="props" gradient="to top right, rgba(55,236,186,.2), rgba(25,32,72,.8)"></v-img>
                </template>
                <v-app-bar-nav-icon
                        class="hidden-lg-and-up"
                        @click="drawe = !drawe"
                ></v-app-bar-nav-icon>
                <v-toolbar-title>
                    <router-link to="/" tag="span" class="pointer">
                        Art market
                        <v-icon v-text="'mdi-palette'"></v-icon>
                    </router-link>
                </v-toolbar-title>
                <v-spacer></v-spacer>
                <v-toolbar-items>
                    <v-list-item
                            v-for="item in menuItem"
                            :key="item.icon"
                            :to="item.url"
                            color="white"
                            class="hidden-md-and-down"
                    >
                        <v-list-item-icon>
                            <v-icon color="white">{{item.icon}}</v-icon>
                        </v-list-item-icon>
                        <v-list-item-content>
                            <v-badge
                                    v-if="item.text === 'Заказы' &&  Object.keys(orders).length !== 0"
                                    color="red"
                                    :content=Object.keys(orders).length
                                    overlap
                                    offset-x=20
                                    offset-y=8
                            >
                                <v-list-item-title style="margin-right: 20px !important" color="white">Заказы
                                </v-list-item-title>
                            </v-badge>
                            <v-list-item-title v-else v-text="item.text" color="white"></v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                    <v-list-item
                            v-if="isUserLogging"
                            color="white"
                    >
                        <user-profile-menu></user-profile-menu>
                        <v-list-item-content>
                            <v-list-item-title>Профиль</v-list-item-title>
                        </v-list-item-content>
                    </v-list-item>
                </v-toolbar-items>
            </v-app-bar>
        </div>
        <v-content style="height: 100%;">
                <router-view></router-view>
        </v-content>
        <template v-if="error">
            <v-snackbar
                    vertical
                    multi-line
                    :timeout="5000"
                    @input="closeError"
                    color="error"
                    value="true"

            >
                {{error}}
                <v-btn
                        color="blue"
                        @click="closeError()"
                >
                    Close
                </v-btn>
            </v-snackbar>
        </template>

        <v-card height="150">
            <v-footer
                    absolute
                    class="font-weight-medium "
            >
                <v-col
                        class="text-center"
                        cols="12"
                >
                    {{ new Date().getFullYear() }} — <strong>Vuetify</strong>
                </v-col>
            </v-footer>
        </v-card>
    </v-app>
</template>

<script>
    document.title = 'Главная'
    export default {
        name: 'App',
        components: {},
        data: () => ({
            drawe: false,
        }),
        methods: {
            closeError() {
                this.$store.dispatch('clearError')
            },
            onLogout() {
                this.$store.dispatch('logOutUser')
                this.$router.push('/')
            },
        },
        computed: {
            orders() {
                return this.$store.getters.orders
            },
            user() {
                return this.$store.getters.user
            },
            error() {
                return this.$store.getters.error
            },
            isUserLogging() {
                return this.$store.getters.isUserLogging
            },
            menuItem() {
                if (this.isUserLogging) {
                    return [
                        {text: 'Заказы', icon: 'mdi-bookmark', url: '/orders'},
                        {text: 'Создать', icon: 'mdi-note-plus', url: '/new'},
                        {text: 'Обьявления', icon: 'mdi-format-list-bulleted', url: '/list'},

                    ]
                }
                return [
                    {text: 'Вход', icon: 'mdi-lock', url: '/login'},
                    {text: 'Регистрация', icon: 'mdi-face', url: '/registration'},
                ]
            }
        },
    };
</script>
<style scoped>
    .pointer {
        cursor: pointer;
    }
</style>