<template>
    <v-container
            class="fill-height"
            fluid
    >
        <v-row
                align="center"
                justify="center"
        >
            <v-col
                    cols="12"
                    sm="8"
                    md="4"
            >
                <v-card class="elevation-12">
                    <v-toolbar
                            color="primary"
                            dark
                            flat
                    >
                        <v-toolbar-title>Login form</v-toolbar-title>
                        <v-spacer/>
                    </v-toolbar>
                    <v-card-text>
                        <v-form
                                ref="form"
                                v-model="valid"
                                validation
                        >
                            <v-text-field
                                    label="Email"
                                    name="email"
                                    prepend-icon="mdi-account"
                                    type="email"
                                    v-model="email"
                                    :rules="emailRules"
                                    required
                            />
                            <v-text-field
                                    id="password"
                                    label="Password"
                                    name="password"
                                    prepend-icon="mdi-lock"
                                    type="password"
                                    v-model="password"
                                    :rules="passwordRules"
                                    @keyup.enter="onsubmit"
                            />
                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer/>
                        <v-btn color="primary"
                               @click="onsubmit"
                               :loading="loading"
                               :disabled="!valid || loading"
                            >
                            Login
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                email: '',
                password: '',
                valid: false,
                emailRules: [
                    v => !! v || 'E-mail не заполнен',
                    v => /.+@.+\..+/.test(v) || 'E-mail не верный',
                ],
                passwordRules: [
                    v => !! v || 'Password не заполнен',
                    v => v.length >= 6 || 'Password должен быть длинее 6 символов',
                ],
            }
        },
        computed: {
            loading() {
                return this.$store.getters.loading
            }
        },
        methods: {
            onsubmit() {
                //logic
                if (this.$refs.form.validate()) {
                    const user = {
                        email: this.email,
                        password: this.password,
                    }
                    this.$store.dispatch('loginUser', user)
                        .then(() => {
                            document.title = 'Главная'
                            this.$store.dispatch('fetchUser')
                            this.$router.push('/')
                        })
                        .catch(error => (error))
                }
            },
        },
        created() {
                document.title = 'Вход'
            if (this.$route.query['loginError']) {
                    this.$store.dispatch('setError', 'Please log in to access this page.')
            }
        }
    }

</script>
<style scoped>
</style>