<template>
    <v-container
            class="fill-height"
            fluid
    >
        <v-row
                align="center"
                justify="center"
        >
            <v-col
                    cols="12"
                    sm="8"
                    md="4"
            >
                <v-card class="elevation-12">
                    <v-toolbar
                            color="primary"
                            dark
                            flat
                    >
                        <v-toolbar-title>Registration</v-toolbar-title>
                        <v-spacer/>
                    </v-toolbar>
                    <v-card-text>
                        <v-form
                                ref="form"
                                v-model="valid"
                                validation
                        >
                            <v-text-field
                                    label="Email"
                                    name="email"
                                    prepend-icon="mdi-account"
                                    type="email"
                                    v-model="email"
                                    :rules="emailRules"
                                    required
                            />
                            <v-layout>
                                <v-flex
                                        xs6
                                >
                                    <v-text-field
                                            label="Ваше имя"
                                            name="fist-name"
                                            prepend-icon="mdi-account-multiple-outline"
                                            v-model="firstName"
                                            :rules="confirmFirstName"
                                            required
                                    />
                                </v-flex>
                                <v-flex
                                        xs6
                                >
                                    <v-text-field
                                            label="Ваша фамилия"
                                            name="fist-name"
                                            prepend-icon=" "
                                            v-model="lastName"
                                            :rules="confirmlastName"
                                            required
                                    />

                                </v-flex>
                            </v-layout>
                            <v-text-field
                                    label="Password"
                                    name="password"
                                    prepend-icon="mdi-lock"
                                    type="password"
                                    v-model="password"
                                    :rules="passwordRules"
                                    required
                            />
                            <v-text-field
                                    label="Confirm Password"
                                    name="confirm-password"
                                    prepend-icon="mdi-lock"
                                    type="password"
                                    v-model="confirmPassword"
                                    :rules="confirmPasswordRules"
                                    required
                                    @keyup.enter="onsubmit"
                            />

                        </v-form>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer/>
                        <v-btn color="primary"
                               @click="onsubmit"
                               :loading="loading"
                               :disabled="!valid || loading"
                        >
                            Create account
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        data() {
            return {
                email: '',
                password: '',
                confirmPassword: '',
                firstName: '',
                lastName: '',
                valid: false,
                emailRules: [
                    v => !!v || 'E-mail не заполнен',
                    v => /.+@.+\..+/.test(v) || 'E-mail не верный',
                ],
                passwordRules: [
                    v => !!v || 'Password не заполнен',
                    v => v.length >= 6 || 'Password должен быть длинее 6 символов',
                ],
                confirmPasswordRules: [
                    v => !!v || 'Password не заполнен',
                    v => v === this.password || 'Пароль не совпадает'
                ],
                confirmFirstName: [
                    v => !!v || 'Поле не заполнено',
                    v => v.length >= 2 || 'Имя должно быть длинее 2 символов',
                ],
                confirmlastName: [
                    v => !!v || 'Поле не заполнено',
                    v => v.length >= 2 || 'Фамилия должна быть длинее 2 символов',
                ],
            }
        },
        computed: {
            loading() {
                return this.$store.getters.loading
            }
        },
        created() {
            document.title = 'Регистрация'
        },
        methods: {
            onsubmit() {
                if (this.$refs.form.validate()) {
                    const user = {
                        email: this.email,
                        password: this.password,
                        firstName: this.firstName,
                        lastName: this.lastName
                    };

                    this.$store.dispatch('registerUser', {user})
                        .then(() => {
                            this.$router.push('/')

                        })
                        .catch(error => (error))
                }
            }
        }
    }

</script>